/* ==========================================================================
   Layout
   ========================================================================== */

html, 
body,
#page {
	height: 100%; /* Important for sticky footer */
}

.section {
	width: 100%;
	padding: 1em 3%;
	@include breakpoint($tablet) {
		padding: 3em 3%;
	}

	.container {
		position: relative; // Allow absolute positioning of elements
		max-width: $container-width;
		@include add-grid(15);
		@include add-gutter(1/6);
		margin: 0 auto; // Centre the container on the page.
		@include clearfix; // Likely to contain floated elements i.e. columns
	}
}

/* Right sidebar */

#primary {
	@include breakpoint($tablet) {
		@include grid-span(12, 1);
	}
	width: 100%;
}

#sidebar {
	@include breakpoint($tablet) {
		@include grid-span(3, 13);
	}
	width: 100%;
}
/* Menu */

ul.nav-menu li a {
	padding: 5px $side-padding;
}




/* Search */

input[type="search"] {
		color: $color_white; // Input color
		background: transparent;
   	border-width: 0;
    	padding: $block-padding;
	}


::-webkit-input-placeholder {
   color: rgba(0,0,0,.4);
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

a#search-toggle {
	float: left;
}

/* Right sidebar */

.media_block {
	@include clearfix;
	.media_block-text {
		width: 100%;
		@include breakpoint($tablet) {

		}

	}
	.media_block-image {
		text-align: center;
		@include breakpoint($tablet) {

		}
		img {
			margin-bottom: 1em;
			max-width: 66px;
		}
	}
}


